body
{
  background-color: rgb(250, 212, 175);
  color: rgb(43, 43, 43);
  font-size: 12px;
}

#h1
{
  text-align: center;
  font-family: "Brush Script MT";
  font-size: 56px;
}

#h2
{
  text-align: center;
  font-size: 12px;
}

#introduction
{
  color: rgb(255, 207, 223);
}

#post1
{
  color: rgb(110, 255, 175);
}
  
body
 {
  text-align = center;
 }
  
